In [247]:
import numpy as np
import os
import pandas as pd
import seaborn as sns

# Load dataset

In [35]:
def csv_file_list(root):
    """Return a fully-qualified list of csv filenames under root directory"""

    fullpaths = []
    for dirpath, dirname, filename in os.walk(root):
        for f in filename:
            if ".csv" in f:
                fullpaths.append(os.path.join(dirpath, f))
    return fullpaths

In [56]:
files = csv_file_list('/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/')
files[:5]

['/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/entertainment_anime.csv',
 '/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/entertainment_comicbooks.csv',
 '/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/entertainment_harrypotter.csv',
 '/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/entertainment_movies.csv',
 '/Users/haivule/Documents/USF/fall2/MSAN621/final_project/Data/entertainment_music.csv']

The .csvs are named <metareddit>_<subreddit>.csv. 

Headers are:
```python
text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorkarma,authorisgold
```

In [166]:
headers = 'text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorkarma,authorisgold'.split(',')
headers

['text',
 'id',
 'subreddit',
 'meta',
 'time',
 'author',
 'ups',
 'downs',
 'authorlinkkarma',
 'authorkarma',
 'authorisgold']

In [42]:
df = pd.read_csv(files[0])
df.head(5)

,Unnamed: 0,0,1,2,3,4,5,6,7,8,9,10,11
0,0,NaN,0,1,2,3,4.000000e+00,5,6.0,7.0,8,9,10.0
1,1,0.0,because she s the worst,d02u69l,anime,entertainment,1.455683e+09,Redire77,7.0,0.0,352,14017,0.0
2,2,1.0,i am referring to this http iimgurcom5sryl...,466ijy,anime,entertainment,1.455683e+09,shiba_arata,0.0,0.0,1,20,0.0
3,3,2.0,cheating but zoldycks must have a great time a...,d02g879,anime,entertainment,1.455661e+09,ShaKing807,6.0,0.0,1308,62021,1.0
4,4,3.0,kurosaki ichigo http images5fanpopcomimag...,d02v88z,anime,entertainment,1.455685e+09,Tf2idlingftw,2.0,0.0,4156,1021,0.0

In [46]:
print(f"Size of the dataframe: {df.shape}")
print(f"Number of columns: {len('text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorkarma,authorisgold'.split(','))}")

Size of the dataframe: (90184, 13)
Number of columns: 11

__Note when loading datasets:__
The first row is redundant. So as the first 2 columsn. Therefore, when loading the dataset, we should remove these row and columns.

In [118]:
df2 = pd.read_csv(files[5], index_col=0)
# df2 = df2.iloc[1:, -11:]
df2.head(5)

,0,1,2,3,4,5,6,7,8,9,10
0,he died for our spins,d02mzs9,starwars,entertainment,1.455672e+09,roccoshapiro,1.0,0.0,7303,2180,0.0
1,i do nt think he necessarily knows that has an...,d02qghe,starwars,entertainment,1.455677e+09,p3wp3wkachu,4.0,0.0,1,242,0.0
2,both times i saw it it seemed to me that mean...,d02skyc,starwars,entertainment,1.455680e+09,Friendly_B,1.0,0.0,234,2865,0.0
3,NaN,465u08,starwars,entertainment,1.455673e+09,ChickenStrips45,4.0,0.0,4013,3512,0.0
4,the tie fighters flying over was a nice touch ...,d02kdfr,starwars,entertainment,1.455668e+09,ltsmiles,1.0,0.0,53952,20152,0.0

In [84]:
df.iloc[1:, -11:].head(5)

,1,2,3,4,5,6,7,8,9,10,11
1,because she s the worst,d02u69l,anime,entertainment,1.455683e+09,Redire77,7.0,0.0,352,14017,0.0
2,i am referring to this http iimgurcom5sryl...,466ijy,anime,entertainment,1.455683e+09,shiba_arata,0.0,0.0,1,20,0.0
3,cheating but zoldycks must have a great time a...,d02g879,anime,entertainment,1.455661e+09,ShaKing807,6.0,0.0,1308,62021,1.0
4,kurosaki ichigo http images5fanpopcomimag...,d02v88z,anime,entertainment,1.455685e+09,Tf2idlingftw,2.0,0.0,4156,1021,0.0
5,there are a shit ton of koutarous but the pre...,d02ggn7,anime,entertainment,1.455662e+09,Angst-Incarnate,1.0,0.0,137,41859,0.0

In [114]:
df2.head(5)

,0,1,2,3,4,5,6,7,8,9,10
1,i do nt think he necessarily knows that has an...,d02qghe,starwars,entertainment,1.455677e+09,p3wp3wkachu,4.0,0.0,1,242,0.0
2,both times i saw it it seemed to me that mean...,d02skyc,starwars,entertainment,1.455680e+09,Friendly_B,1.0,0.0,234,2865,0.0
3,NaN,465u08,starwars,entertainment,1.455673e+09,ChickenStrips45,4.0,0.0,4013,3512,0.0
4,the tie fighters flying over was a nice touch ...,d02kdfr,starwars,entertainment,1.455668e+09,ltsmiles,1.0,0.0,53952,20152,0.0
5,they sure did https youtubeqds6re3hgo,d01oq0x,starwars,entertainment,1.455608e+09,cyborgcommando0,1.0,0.0,63181,66452,1.0

### Load and combine all files into one dataframe

In [238]:
def load_data(filelist):
    data_list = []
    for file in filelist:
        df = pd.read_csv(file, index_col=0, header=0)  # to move the redundant rows and columns
        df = df.iloc[:, -11:]
        df.columns = headers
        data_list.append(df)
    return pd.concat(data_list, ignore_index=True)  # ignore_index = True so that all the rows are re-indexed

In [239]:
reddit = load_data(files)

In [240]:
reddit.head(5)

,text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorkarma,authorisgold
0,0,1,2,3,4.000000e+00,5,6.0,7.0,8.0,9.0,10.0
1,because she s the worst,d02u69l,anime,entertainment,1.455683e+09,Redire77,7.0,0.0,352.0,14017.0,0.0
2,i am referring to this http iimgurcom5sryl...,466ijy,anime,entertainment,1.455683e+09,shiba_arata,0.0,0.0,1.0,20.0,0.0
3,cheating but zoldycks must have a great time a...,d02g879,anime,entertainment,1.455661e+09,ShaKing807,6.0,0.0,1308.0,62021.0,1.0
4,kurosaki ichigo http images5fanpopcomimag...,d02v88z,anime,entertainment,1.455685e+09,Tf2idlingftw,2.0,0.0,4156.0,1021.0,0.0

In [241]:
reddit.tail(5)

,text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorkarma,authorisgold
2663647,i literally started screaming when sam was eat...,d01qs43,thewalkingdead,television,1.455616e+09,NorthWeapon,1.0,0.0,6.0,56.0,0.0
2663648,literally the only reason for ron s existence ...,d00stxn,thewalkingdead,television,1.455556e+09,eightdaysdead,-16.0,0.0,1.0,6.0,0.0
2663649,never seen game of thrones eh the walking dea...,d00vzrc,thewalkingdead,television,1.455561e+09,lumpy999,-37.0,0.0,1.0,7524.0,0.0
2663650,i thought that scene was boring and tame if th...,d00pn26,thewalkingdead,television,1.455551e+09,icyhot39,-38.0,0.0,1.0,1532.0,0.0
2663651,deleted,d00g2sg,thewalkingdead,television,1.455522e+09,[deleted],-10.0,0.0,0.0,0.0,NaN

In [242]:
reddit.shape

(2663652, 11)

In [251]:
for comment in reddit.text.head(20):
    print(comment+'\n')

0

because she s the worst

i am referring to  this   http  iimgurcom5srylmijpg  does it have any deeper meaning or does it signify anything  i just do nt get it why she d do that

cheating but zoldycks must have a great time at thanksgiving

 kurosaki ichigo    http  images5fanpopcomimagephotos29000000ichigowallpaperkurosakiichigo290694271024768jpg  and  kurosaki mea   http  staticzerochannetkurosakimeafull1689483jpg

there are a shit ton of koutarous  but the presence of  one   https  smediacacheak0pinimgcomoriginals1219ed1219ed717fc2bfce372759bba2fe1cfegif  is enough to make it the most interesting party

they went full free in the end

by far the best episode of this show this was pure fun to watch from beginning to end

gal stan might as well be team durarara with masaomi  mikado  and rochi

hi th3jester_  it seems like you might be looking for anime recommendations  the users of this subreddit came up with  an awesome recommendations flowchart   http  iimgurcomq9xjv4pjpg   maybe you can find something there that you ll like         botchan  urban ssssenpai made me do it    you might also find our  recommendation wiki   http  wwwredditcomranimewikirecommendations  helpful  the following may be of interest    list of legal streams and downloads   https  wwwredditcomranimewikilegal_streams__downloads    list of currently airing anime   https  wwwlivechartme   i am a bot  and this action was performed automatically please  contact the moderators of this subreddit   messagecompose  to  ranime  if you have any questions or concerns

related    shounen sarutobi sasuke  aka  magic boy    https  wwwyoutubecomwatch  v  yohgqmnskis

uchuu senkan yamato looks interesting

gt  the series was a huge sensation despite the fact that nothing beyond the first season aired on american television until later the pause was due primarily to censorship issues  cartoons were seen purely as a children  s medium whose audience  according to american broadcasters  could not comprehend advanced concepts such as death or deal with excessive onscreen violence tezuka was personally approached and asked to soften the content of the show  but he refused to make anything but the most superficial of alterations  this was an issue even from the 1960s  goddamn has the west s perception of this changed even a bit in the last  half a century  we see the same shit even today  and this is too short  i want more  ca nt wait for the next part  we will get into a more familiar territory for us and hopefully we can pick up a show or two from that period

stop abandoningtking you griefer

 time of eve   http  myanimelistnetanime7465eve_no_jikan_movie  has a very similar world and themes to ghost in the shell so you might like it   seirei no moribito   http  myanimelistnetanime1827seirei_no_moribito  is made by the same director as the ghost in the shell series and is a medieval fantasy just like berserk but not dark like berserk is worth trying i think  if you just want a movie  sword of the stranger   http  myanimelistnetanime2418stranger__mukou_hadan  is always good basically a movie dedicated to showing off awesome sword fights and lots of blood

fatezero  also gundam ironblooded orphans is currently airing and it s pretty good  one punch man

puella magi madoka magica and jojo s bizarre adventure pmmm only has 12 eps so it s easy to get into it s a masterpiece give it 3 eps before handing down your judgment

try giving  tokyo ghoul  and   c   the money of soul and possibility control  a shot both of those have a darker feel  to cater to your  ninja scroll  interests

darker than black season 1

12 kingdoms

In [261]:
reddit2 = pd.read_csv('comments.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,10
0,NaN,4644c4,libertarian,news,1.455651e+09,DrWinters,3.0,0.0,12728.0,1641.0,0.0
1,NaN,464kvf,libertarian,news,1.455657e+09,unknownman19,20.0,0.0,50364.0,14436.0,0.0
2,NaN,466hv9,libertarian,news,1.455683e+09,hp_chabanais,1.0,0.0,178.0,3.0,0.0
3,NaN,462wog,libertarian,news,1.455636e+09,ghostofpennwast,18.0,0.0,231424.0,80539.0,1.0
4,disclaimer : i think obama should nominate som...,d028c5d,politics,news,1.455651e+09,degausse,3.0,0.0,1.0,1941.0,0.0

In [262]:
headers2 = ['text', 'id', 'subreddit', 'meta', 'time', 'author', 'ups', 'downs', 'authorlinkkarma', 'authorcommentkarma', 'authorisgold']
reddit2.columns = headers2

In [259]:
reddit2.shape

(2726000, 10)

In [263]:
reddit2.head(5)

,text,id,subreddit,meta,time,author,ups,downs,authorlinkkarma,authorcommentkarma,authorisgold
0,NaN,4644c4,libertarian,news,1.455651e+09,DrWinters,3.0,0.0,12728.0,1641.0,0.0
1,NaN,464kvf,libertarian,news,1.455657e+09,unknownman19,20.0,0.0,50364.0,14436.0,0.0
2,NaN,466hv9,libertarian,news,1.455683e+09,hp_chabanais,1.0,0.0,178.0,3.0,0.0
3,NaN,462wog,libertarian,news,1.455636e+09,ghostofpennwast,18.0,0.0,231424.0,80539.0,1.0
4,disclaimer : i think obama should nominate som...,d028c5d,politics,news,1.455651e+09,degausse,3.0,0.0,1.0,1941.0,0.0

In [267]:
for text in reddit2.text.head(20):
    print(f"{text}\n")

nan

nan

nan

nan

disclaimer : i think obama should nominate someone , and the senate should hold confirmation hearings. but this article does not accurately describe most republicans ' statements on this issue . the vast majority of republican statements ( although , notably , not the cruz one cited in the article ) carefully phrase the issue as whether a nominee has been " nominated and confirmed " in the president 's last year in office . although kennedy was confirmed in 1988 , he was nominated by reagan at the end of 1987 , so he does n't fall under this definition .

nan

either way the process will be dragged out until after the elections. the gop have the votes in the senate to say no and would rather gamble in 2016. they at least had the decency to inform everyone of what exactly they 're doing this time around .

republicans have always battled with severe cases of selective amnesia .

politics were so different back then. people on both sides had to at least pretend to be reasonable : http : //www.nytimes.com/1987/11/12/us/reagan-nominates-anthony-kennedy-to-supreme-court.html ? pagewanted = all

equally ridiculous , here 's a 1970 law review article in which mcconnell argues for presidential dominion in the supreme court nomination process http : //imgur.com/pbeveod

if you include the citizens conscripted with the debts incurred by austerity then virtually every western country are filled with taxpaying slaves .

nan

&gt ; " more mistakes than achievements " if that was a criteria for getting booted out of office i think most politicians would be out after their first year.. .

i am certain the guardian will issue a retraction...brawhawhaw , i amuse myself... .

&gt ; when the fishing gets tough , penguins simply pick up and move . i do n't wish to brag but i was right : ) https : //www.reddit.com/r/worldnews/comments/45jaoe/150000_penguins_killed_after_giant_iceberg/czydzhv

nan

i 'm doing my part to keep those hard working vodka-teers in business .

nan

have you seen their drive thru ? ha !

give them a few years and they 'll be back to being sand dwellers. guns wo n't do them any good when the funds go dry .